.filterDropdown {
  position: absolute;
  right: -13px;
  top: -11px;
  background: #fff;
  z-index: 10;
  padding: 0em;
  min-width: 400px;
  @apply shadow-xl;
}

.filterDropdownHeader {
  display: flex;
  justify-content: space-between;
  height: 57.5px;
  @apply border-b px-8 py-5 items-center;
}

.filterDropdownContent {
  @apply flex flex-col px-8 py-10;
}
