@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-md {
    @apply max-w-md;
  }
  .container-lg {
    @apply mx-auto max-w-6xl;
  }
  .container-xl {
    @apply mx-auto w-11/12;
  }
}

:root {
  --font-family: "Lato", sans-serif;
  --line-height: 1.5;
  --font-weight: 300;
  --font-size: 14px;

  --color: #828282;
  --background-color: #fff;

  --font-synthesis: none;
  --text-rendering: optimizeLegibility;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  @apply min-h-screen;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  color: var(--color);
  background-color: var(--background-color);
  font-synthesis: var(--font-synthesis);
  text-rendering: var(--text-rendering);
  -webkit-font-smoothing: var(--webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--moz-osx-font-smoothing);
}
